@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pattaya&display=swap" rel="stylesheet">
   <style>
         .title p{
              color: green;
              text-align: center;
              font-weight: bold;
              font-size: medium;
         }

         .title p a{
              color: rgb(0, 0, 0);
              font-weight: bold;
         }


         body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #6c499a;
            color: #fff;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: #da17e2;
            }

        .container {
            border-radius: 5px;
            background-color: #92a8d1;
            padding: 10px;
        }

    </style>
</head>


<div class="title">

        <p>A privacy policy is a statement or legal document that discloses some or all of the ways a party
            gathers, uses, discloses, and manages a customer or client's data.</p>
        <br>
        <br>
        <div >
            <p><a href="https://www.privacypolicies.com/blog/privacy-policy-template/#:~:text=A%20Privacy%20Policy%20is%20a,or%20sold%20to%20third%20parties.">Privacy</a></p>
        </div>
</div>